*{
	padding: 0px;
	margin: 0px;
	background-color: #b3ffff;
}
.calculator{
	height: 321px;
	width: 280px;
	/*border: 4px solid black;*/
	margin:auto;
}

.table_call{
	width: 100%;
}
.input_field{
	width: 91%;
	font-size: 30px;
	text-align: right;
	padding: 10px;
	background: #e2e2e2;
	border-radius: 10px;
}
.btn{
	width: 100%;
	padding: 5px;
	font-size: 20px;
	height: 50px;
	color:red;
	background-color: cyan;
	outline: none;
	border-radius: 10px;
}
td{
	width:25%;
}
